.git
.gitignore
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
.env
media/
staticfiles/
test_logs.py
check_csv.py
check_schedules.py
check_arlond.py
check_csv_arlond.py
check_arlond_sch.py
