# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment
.env
venv/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Debug and Repair
debug_*
repair_*
response.html
